.top-row, .value-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* .card {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 3rem;
}

.card-title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-content {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
} */